<?xml version="1.0"?>
<!-- /**
 * @category   Technical Assessment
 * @package    PankajAssignment_ProductType
 * @author     pankaj371997@gmail.com 
 */ -->
<config xmlns:xsi="http://www.w3.org/201/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product">
        <plugin name="pankajassignment_producttype_product_image" type="PankajAssignment\ProductType\Plugin\ProductImage"/>
    </type>

     <preference for="PankajAssignment\ProductType\Api\ProductTypeManagementInterface" type="PankajAssignment\ProductType\Model\ProductTypeManagement"/>
</config>

